mat-card-title {
    display: flex;
    justify-content: space-between;
}

mat-card-content {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

p {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;

    &.single-value {
        flex-wrap: nowrap;
    }
}