<header>
  <mat-toolbar>
    <mat-form-field appearance="fill">
      <mat-label>Search…</mat-label>
      <input matInput type="search" #searchInput autofocus>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-button-toggle-group name="androidVersion" aria-label="Android version" multiple
      (change)="filterAndroidVersion($event)">
      <mat-button-toggle *ngFor="let version of (androidVersions$ | async)" [checked]="(service.isFilteredBy('androidVersion', version) | async)" [value]="version">{{version}}</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar>
  <mat-toolbar>
    <mat-button-toggle-group name="androidVersion" aria-label="Android version" multiple
      (change)="filterAndroidVersion($event)">
      <mat-button-toggle *ngFor="let version of (androidVersions$ | async)" [checked]="(service.isFilteredBy('androidVersion', version) | async)" [value]="version">{{version}}</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar>
</header>
<main>
  <app-rom-category *ngFor="let category of (filteredData$ | async); trackBy: identifyCategory" [title]="category.title"
    [roms]="category.roms">
  </app-rom-category>
</main>
<footer>
  <p>This list has been last modified on <strong>{{environment.lastModified | date:'medium'}}</strong> and is subject to change at all times.</p>
  <p>Please see <a href="about">About</a> for more information about this app and its data.</p>
</footer>