body {
    --text-color: #000;
    --text-color-link: #009;
    --background-color: #fff;
    --background-color-input: #fff;
    --background-color-select: #e5e5e5;
    --border-input: 1px solid #ccc;

    font-family: monospace;
    font-size: 1rem;
    margin: 0;
    overflow-y: scroll;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark {
    --text-color: #fff;
    --text-color-link: deeppink;
    --background-color: #000;
    --background-color-input: #333;
    --background-color-select: #333;
    --border-input: none;
}

header {
    padding: 1rem;
}

h1 {
    text-align: center;
}

input {
    display: block;
    border: var(--border-input);
    color: var(--text-color);
    background-color: var(--background-color-input);
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    align-items: flex-start;
}

section {
    flex: 1 0 calc(100% - 1rem);
    border-radius: 2px;
    padding: .5rem .5rem 2rem;
}

section.empty {
    display: none;
}

@media (min-width: 640px) {
    section {
        flex: 1 0 calc(50% - 2rem);
    }
}

@media (min-width: 1140px) {
    section {
        flex: 1 0 calc(25% - 2rem);
    }

    section.empty {
        display: block;
        visibility: hidden;
    }
}

section:nth-of-type(11n+1) { background-color:#b6469d; }
section:nth-of-type(11n+2) { background-color:#c98879; }
section:nth-of-type(11n+3) { background-color:#a5b872; }
section:nth-of-type(11n+4) { background-color:#3794ac; }
section:nth-of-type(11n+5) { background-color:#2d73be; }
section:nth-of-type(11n+6) { background-color:#8855a8; }
section:nth-of-type(11n+7) { background-color:#bf678b; }
section:nth-of-type(11n+8) { background-color:#ddcb55; }
section:nth-of-type(11n+9) { background-color:#6ea68f; }
section:nth-of-type(11n+10) { background-color:#0082c9; }
section:nth-of-type(11n+11) { background-color:#5b64b3; }

h2 {
    font-size: 150%;
    padding: 1rem;
    font-weight: normal;
    color: #fff;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

li {
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    border-radius: 2px;
    line-height: 1.5;
    background-color: var(--background-color);
}

li p {
    font-size: 9pt;
}

li:last-child {
    margin-bottom: 0;
}

a {
    color: var(--text-color-link);
}

footer {
    text-align: center;
    padding: 1rem 1rem 7rem 1rem;
}

select {
    --arrow-size: .3rem;
    
    border: 0;
    padding: .5rem 3.5rem .5rem 1rem;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    color: var(--text-color);
    background-color: var(--background-color-select);
    background-image:
        linear-gradient(45deg, transparent 50%, var(--text-color) 50%),
        linear-gradient(135deg, var(--text-color) 50%, transparent 50%),
        linear-gradient(to right, #999, #999);
    background-position:
        calc(100% - 18px) calc(1rem),
        calc(100% - calc(18px - var(--arrow-size))) calc(1rem),
        calc(100% - 2.2rem) .5rem;
    background-size:
        var(--arrow-size) var(--arrow-size),
        var(--arrow-size) var(--arrow-size),
        1px 1.5em;
    background-repeat: no-repeat;
}

select:focus {
    outline: 0;
}


select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
