<mat-accordion multi>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>help_outline</mat-icon>
                About
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h2>Maintainer</h2>
        <ul>
            <li *ngFor="let maintainer of environment.maintainer"><a [href]="maintainer.url">{{maintainer.name}}</a>
            </li>
        </ul>
        <h2>Reuse for your own device</h2>
        <p>This project aims to be device agnostic. Feel free to fork this project and
            configure it to your needs by adjusting the following files:</p>
        <ul>
            <li><code>environment.ts</code></li>
            <li><code>CHANGELOG.md</code></li>
            <li><code>README.md</code></li>
            <li><code>CONTRIBUTING.md</code></li>
            <li><code>ci.yml</code></li>
        </ul>
        <a mat-raised-button color="primary" [href]="environment.projectURL" target="_blank">Project website</a>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>link</mat-icon>
                Additional links
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Explore additional resources provided by the maintainer about the data for this device:</p>
        <ul>
            <li *ngFor="let link of environment.additionalLinks"><a [href]="link.url">{{link.name}}</a></li>
        </ul>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>people</mat-icon>
                Contributing
            </mat-panel-title>
        </mat-expansion-panel-header>
        <markdown src="assets/CONTRIBUTING.md"></markdown>
        <a mat-raised-button color="primary" [href]="environment.issueUrl" target="_blank">Contribute</a>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>fiber_new</mat-icon>
                Changelog
            </mat-panel-title>
        </mat-expansion-panel-header>
        <markdown src="assets/CHANGELOG.md"></markdown>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>note</mat-icon>
                Licenses of used third party libraries
            </mat-panel-title>
        </mat-expansion-panel-header>
        <code [innerHTML]="(service.getLicenses() | async)"></code>
    </mat-expansion-panel>
</mat-accordion>