:host {
    display: block;
    padding: 2rem;

    @media (min-width: 640px) {
        max-width: 1024px;
        width: 80%;
        margin: auto;
    }
}

.license-content {
    font-family: monospace;
}

.license-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}