/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import 'material-icons/iconfont/material-icons.scss';

@include mat.core();

$custom-theme-light: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$blue-gray-palette),
   accent: mat.define-palette(mat.$blue-gray-palette),
 )
));

$custom-theme-dark: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$blue-gray-palette),
   accent: mat.define-palette(mat.$blue-gray-palette),
 )
));

@include mat.all-component-themes($custom-theme-light);

:root {
    --background-color-area: #f5f5f5;
    --color-area: #121212;
}

.custom-theme-dark {
    @include mat.all-component-themes($custom-theme-dark);

    --background-color-area: #212121;
    --color-area: white;
}

html, body { height: 100%; }
body {
    margin: 0;
    font-family: /* Roboto, */ "Helvetica Neue", sans-serif;
    background-color: var(--background-color-area);
    scrollbar-width: thin;
    word-wrap: break-word;
    word-wrap: anywhere;
}
a {
    color: inherit;
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}