<mat-toolbar>
    <mat-form-field appearance="fill">
        <mat-label>Search…</mat-label>
        <input matInput type="search" #searchInput autofocus>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <template [ngTemplateOutlet]="toggleGroupRef"></template>
</mat-toolbar>
<mat-toolbar>
    <template [ngTemplateOutlet]="toggleGroupRef"></template>
</mat-toolbar>

<ng-template #toggleGroupRef>
    <mat-button-toggle-group name="androidVersion" aria-label="Android version" multiple
        (change)="filterAndroidVersion($event)">
        <mat-button-toggle *ngFor="let version of (androidVersions$ | async)"
            [checked]="(service.isFilteredBy('androidVersion', version) | async)" [value]="version">{{version}}
        </mat-button-toggle>
    </mat-button-toggle-group>
</ng-template>