$breakpoint-show-version-filter: 640px;

mat-toolbar {
    justify-content: center;
    gap: 1rem;
}

mat-form-field,
mat-button-toggle-group {
    font-size: .8rem;
}

mat-form-field {
    flex: 1 1 auto;
    min-width: 0;
    margin-bottom: -1rem;

    @media (min-width: $breakpoint-show-version-filter) {
        max-width: 35rem;
    }
}

mat-toolbar:first-child {
    mat-button-toggle-group {
        display: none;
    }

    @media (min-width: $breakpoint-show-version-filter) {
        margin-bottom: 2rem;
        
        mat-button-toggle-group {
            display: flex;
        }
    }
}

mat-toolbar:last-child {
    margin-bottom: 2rem;

    @media (min-width: $breakpoint-show-version-filter) {
        display: none;
    }

    mat-button-toggle-group {
        width: 100%;
        overflow-x: auto;

        mat-button-toggle {
            flex: 1 0 auto;
        }
    }
}